<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="template">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Liste des Films</title>
</head>

<body>
	<div layout:fragment="Mycontent">
	<form th:action="@{searchFilm}" method="post" class="d-flex justify-content-center mt-3">
						<div class="d-flex justify-content-between w-25 ">
							<input type="text" name="dirNom" placeholder="Search Film by Director "
								class="form-control " />
							<button type="submit" class="btn btn-info mx-3">Search</button>
						</div>
					</form>
		<div class="container mt-5">
			<div class="card">
				<div class="card-header">
					Movies
				</div>
				<div class="card-body">
					<table class="table table-striped">
						<tr>
							<th>ID</th>
							<th>Movie Name</th>
							<th>Genre</th>
							<th>Date of creation</th>
							<th>Director</th>
						</tr>
						<tr th:each="p:${Films}">
							<td th:text="${p.idFilm}"></td>
							<td th:text="${p.nomFilm}"></td>
							<td th:text="${p.genreFilm}"></td>
							<td th:text="${p.dateCreation}"></td>
							<td th:if="${!#strings.isEmpty(p.Director)}" th:text="${p.Director.nomDir}"></td>
							<td th:if="${#strings.isEmpty(p.Director)}" th:text="${'Pas de directeur'}"></td>

							<td><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')" th:href="@{supprimerFilm(id=${p.idFilm})}">remove</a></td>
							<td><a class="btn btn-success" th:href="@{modifierFilm(id=${p.idFilm})}">update</a></td>
						</tr>
					</table>
					
				</div>
			</div>
		</div>
	</div>
</body>

</html>